<!DOCTYPE html>
<html lang="fa">
    <meta charset="UTF-8">
<head>
    <title>Weather Forecast</title>
</head>
<body>
    <h1>Weather Forecast</h1>
    <form action="" method="post">
        <label for="city_name">City Name:</label>
        <input type="text" id="city_name" name="city_name" required>
        <button type="submit">Get Weather</button>
    </form>
    {% if city_name %}
        <h2>Current Weather in {{ city_name }}</h2>
        <p>Temperature: {{ current_weather_data.temperature }}°C</p>
        <p>Humidity: {{ current_weather_data.humidity }}%</p>
        <p>Description: {{ current_weather_data.description }}</p>
        <h2>5-Day Forecast in {{ city_name }}</h2>
        <ul>
            {% for forecast in forecast_data %}
                <li>
                    <p>Date: {{ forecast.date }}</p>
                    <p>Temperature: {{ forecast.temperature }}°C</p>
                    <p>Humidity: {{ forecast.humidity }}%</p>
                    <p>Description: {{ forecast.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>